.section-1{
    height: 100%;
    background-color: darkgray;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-5 .left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5 .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}