@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --major-color: #f32c4a;
    --major-color-hover: #df475e;
}
.Section-1{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: var(--major-color);
    /* z-index: -1000; */
}
.Section-1 .logo-font{
    font-size: 30px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.Section-1 .container .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}
.Section-1 .container .banner .banner-left{
    width: 50%;
}
.Section-1 .container .banner .banner-left h1{
    font-size: 60px;
    color: white;
}
.Section-1 .container .banner .banner-right{
    width: 50%;   
}
.Section-1 .container .banner .banner-right img{
    /* margin-left: 60px; */
    width: 100px;
    transform: rotate(12deg);
}
.banner .banner-left .downbutton button svg{
    width: 15px;
}
@media screen and (max-width: 992px) {
    .Section1 .banner .banner-right img{
        transform: rotate(0deg);
        transition: 0.5s;
    }
}
