@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    margin : 0;
    /* padding: 0; */
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color : rgb(224, 75, 100);
    --font-heading: 'Ubuntu', sans-serif;
    --heading-size: 40px;
    --font-color: whitesmoke;
}
.section-1{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
.section-1 .logo{
    color: aliceblue;
    font-family: var(--font-heading);
    font-size: var(--heading-size);
}
.banner{
    width: 100%;
    /* height: 100%; */
    margin-left: 0;
    margin-top: 0;
    color: var(--font-color);
}
svg{
    width: 18px;
    padding-bottom: 5px;
}
.banner .first-banner{
    text-align: center;
}
.second-banner{
    /* height: 100%; */
    overflow-y:hidden ;
}
.second-banner img{
    width: 20vw;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 30px;
    transform: rotate(15deg);
    /* max-height: auto; */
}
@media only screen and (max-width : 992px) {
    .second-banner img{
        width: 70vw;
        padding-bottom: 20px;
        transform: rotate(0deg);
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
        /* width: 70%; */
        /* max-width: 100%; */
        /* height: auto; */
    }
    .second-banner{
        text-align: center;
    }
}

/* Section - 2 Styles */

.section-2{
    margin-top: 100px;
    margin-bottom: 100px;
    display:flex;
    justify-content: space-evenly;
}
.section-2 div{
    text-align: center;
    align-items: center;
    width: 33%;
}
.section-2 svg{
    width: 60px;
    color: rgb(244, 99, 123);
}
.section-2 svg:hover{
    color: var(--main-color);
}
@media only screen and (max-width: 992px) {
    .section-2{
        flex-direction: column;
        gap: 20px;
        /* justify-content: space-between; */
        /* align-items:center; */
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section-2 div{
        width: 100%;
    }
}

/* Section - 3 */

.section-3{
    width: 100%;
    background-color: var(--main-color); 
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-3-item{
    text-align: center;
    width: 80%;
    margin: auto;
}
.section-3 img{
    width: 80px;
    clip-path: circle();
}
#image-p{
    margin-bottom: 0 !important;
}
@media only screen and (min-width : 993px){
    .section-3{
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

/* Section - 4 styles */

@media only screen and (max-width : 992px){
    .section-4 #cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .section-4 #card-1{
       width: 70vw !important;
    }
}
.section-4 #card-1{
    width: 20% ;
}
.section-4 .button-cont{
    padding:0 20px;
    padding-bottom: 20px;
}
.section-4 .button-cont button:hover{
    background-color: rgb(232, 234, 234);
    color: rgb(36, 34, 34);
}

/* Section - 5 */

.section-5{
    background-color: var(--main-color);
}
footer a{
    font-size: 20px ;
    padding-left: 15px;
    font-weight:400;
    color: white
}
footer a:hover{
    color: black;
}